<div class="box">
  <div class="text">
    <h1>Add Word!</h1>
    <%= form_for(@vocabulary) do |f| %>
      <%= f.label :word %><br />
      <%= f.text_field :word %>

      <%= f.label :definition %><br />
      <%= f.text_field :definition %>
    <%= f.submit "Submit Word" %>
    <% end %>
  </div>
</div>
